@charset "UTF-8";

.font-bold {
	font-weight: bold;
}

.create-datetime {
	font-size: small;
	color: gray;
	padding-top: 3px;
}

.detail-bottom {
	color: blue;
}

.board-style {
	border: 1px solid #E5E7E9;
	padding: 35px;
	background: #FBFCFC;
	border-radius: 1em;
}