@charset "UTF-8";

footer {
	padding: 50px 0;
	text-align: center;
}

.footer-ul {
	text-align: center; 
	padding: 0;
}

.footer-ul li {
	display: inline;
}

.footer-ul a {
	font-size: 18px;
	margin: 0 15px;
}

.footer-ul > li > a:link {
	color: #FFFFFF;
}

.footer-ul > li > a:visited {
	color: #FFFFFF;
}

.footer-ul > li > a:hover {
	color: #2ee4ad;
}