@charset "UTF-8";

.form-title {
    font-size: 27px;
    margin-bottom: 20px;
    letter-spacing: -1.0px;
    word-spacing: -4px;
}

.form-style {
    width: 500px;
    border: 1px solid #E5E7E9;
    padding: 25px;
    border-radius: 1em;
    background: #FBFCFC;
}

.valid-text {
    font-size: 13px;
    margin-left: 5px;
    color: red;
}