@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family: nanumsquare;
    word-spacing: -4px;
    position: relative;
    padding-top: 56px;
}

.alarm-box {
    height: 370px;
    overflow-y: scroll;
}

.alarm {
    color: gray;
    font-size: small;
    width: 330px;
    border-style: solid;
    border-top-width: thin;
    border-color: #EEEEEE;
    padding: 15px;
    cursor: pointer;
}

.alarm-username {
    font-weight: bold;
    color: orangeRed;
}

.alarm-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.alarm-title {
    padding: 7px 0 0 0;
    font-weight: 600;
    font-size: 12px;
    color: darkGray;
}

.alarm-new {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 0 0 7px 15px;
}

.alarm-count {
    font-size: 13px;
    color: gray;
    display: inline-block;
    padding: 0 0 7px 0;
}

.nav-counter {
    position: absolute;
    top: 6px;
    right: -2px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    margin-top: -11px;
    font-weight: normal;
    font-size: x-small;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: #e23442;
    border: 1px solid #911f28;
    border-radius: 11px;
    background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
    background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
    background-image: -o-linear-gradient(top, #e8616c, #dd202f);
    background-image: linear-gradient(to bottom, #e8616c, #dd202f);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px
    rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px
    rgba(0, 0, 0, 0.12);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}