@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.home-content {
	padding: 0;
}

.background-wrap {
	width: 100%;
	position: relative;
}

.background-img {
	max-width: 100%; 
	height: auto; 
}

.background-text {
	font-family: 'Chakra Petch', sans-serif;
	width: 800px;
	text-align: center;
	color: white;
	font-size: 100px;
	font-weight: bold;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}