@charset "UTF-8";
th {
    font-weight: normal;
    text-align: center;
}

body{
    background: #f5f6fa;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#outer-container {
    display: table;
    width: 100%;
    height: 100%;
}

#sidebar {
    display: table-cell;
    width: 15%;
    vertical-align: top;
    background-color: #dcdcde;
    height: 200px;
}

#content {
    display: table-cell;
    width: 85%;
    vertical-align: top;
    padding: 30px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.profile {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}