@charset "UTF-8";

#sidebar {
    color: black;
    display: table-cell;
    vertical-align: top;
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar.active {
    left: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(191, 52, 113, 0.19);
    z-index: 998;
    display: none;
}

.profile {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.category-ul {
    list-style: none;
    border-bottom-color: #BF3471FF;
    margin: 0;
    padding: 0;
}

.category-li {
    text-align: left;
    border-bottom: 1px solid #34495E;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.category-li:last-child {
    border: none;
}

.category-li:hover {
    background: #2ee4ad;
}